* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

section h1 {
    margin: 50px;
    text-align: center;
}

section .bannerCarousel {
    position: relative;
    width: 100%;
}

.slick-prev {
    position: absolute;

    left: 37px;
    padding: 15px;
    top: 50%;
    transform: translate(-50%);

    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 10;

    border-radius: 50%;
    border: none;
    color: blue;
    background-color: rgb(226, 224, 224);
}

.slick-next {
    position: absolute;

    right: 0px;
    padding: 15px;
    top: 50%;
    transform: translate(-50%);

    opacity: 0;
    pointer-events: none; /* deixa evento associado inativo */
    transition: 0.3s;

    border-radius: 50%;
    border: none;
    color: blue;
    background-color: rgb(226, 224, 224);
}

.bannerCarousel:hover .slick-next, .bannerCarousel:hover .slick-prev {
    opacity: 1;
    pointer-events: auto;
}

/* department */

section h2 {
    position: relative;

    margin: 50px 0px 50px 0px;
    text-align: center;

    color: #363636;
    font-weight: 500;
    font-size: 30px;
}

.subtitleCarouselDepartments::after {
    content: '';
    position: absolute;

    width: 50px;
    height: 4px;
    bottom: -1px;
    left: 48%;
    
    transform: translateY(-50%);

    background-color: #0AADFF;
    border-radius: 2px;
}

section .bannerCarouselDepartments {
    position: relative; 

    width: 75%;
    margin: 0 auto;
}

.bannerCarouselDepartments li img {
    max-width: 100px;
    height: 100px;

    border-radius: 50%;
}

.bannerCarouselDepartments a {
    text-decoration: none;
    color: rgb(53, 53, 53);
    font-weight: bold;
}

.bannerCarouselDepartments p {
    font-size: 16px;
    font-weight: 300;

    color: black;

    margin: 30px 0px 0px 14px;
}

footer {
    margin: 100px;
}